@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FoodWuzUp</h1>
    <p class="lead">FoodWuzUp is a Web Site where you can share restaurant experiences with your friends</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Groups</h2>
        <p>
            Groups allow you to have different circles of friends that you eat with and share information.
            You might have a group for co-workers that you eat lunches with and one for friends that you
            meet with to have dinners.  Those two groups may have very different types of restaurants, and
            requirments. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Restaurants</h2>
        <p>All the restaurants in all your groups will be listed so you can navigate to any restaurant quickly.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contests</h2>
        <p>List all contests</p>
    </div>
</div>